# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
app/__pycache__/
viewer/__pycache__/

# Temporary Image Files
*.png
!app/*.png

# Docker
zigbee2mqtt-data/
mosquitto/data/
mosquitto/log/
